.banner {
    height: 75px;
    margin: 0px -10px 10px;
    background-color: rgb(66, 196, 247);
    border-radius: 2px;
}
.banner h2{
    color:white; 
    padding-top: 10 px;
    margin-left: 2%;
    display: inline-block;
}
.banner Img{
    position: relative;
    float: right;
    right: 10px;
    height 75px;
}