<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Peaky Finder</title>

    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />

<style>

    .center {
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 50%;
    }

    h1{color: #006699}
    h3{color: #0099e6}

</style>

  </head>
  <title>Peaky Finder</title>

  <body>

    <h1 style="text-align:center;"> Peaky Finder </h1>

</body>


</html>
