<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <title>PEAKY FINDERS</title>
<style>
h1{color: #006699; margin: 10px; padding: 10px;}
h3{color: #0099e6; margin: 10px; padding: 10px;}
h4{color: #006969; margin-top: 40px; padding: 10px;}

body {margin: 10px; padding: 10px; }


a:link, a:visited, a:hover, a:active {
  color: #696969;
  text-align: center;
}

.content {
  max-width: 500px;
  margin: 80px;
}

.center {
  display: block;
  margin-left: 80px;
  margin-right: 80px;
  width: 50%;
}

</style>

<h1 style="text-align:center;"> Peaky Finder </h1>

<h3 style="text-align:left;"> Will NYISO demand peak tomorrow? </h3>

<table>
        <tr>
         <th> &nbsp;&nbsp;&nbsp;&nbsp; Day </th>
         <th> &nbsp;&nbsp; Official Prediction </th>
        </tr>
          {%for key in peak%}
        <tr>
         <td> &nbsp;&nbsp; {{key}}: </td>
         <td> &nbsp;&nbsp; {{peak[key]}} </td>
        </tr>
         {%endfor%}
           
</table>

<h4> {{answer}} </h4>

<div class="row">
    <div class="column">
    </div>
    <div class="column">
            <body>
                    <table>
                            <tr>
                             <th> &nbsp;&nbsp;&nbsp;&nbsp; Hour </th>
                             <th> &nbsp;&nbsp; Projected Load (MW) </th>
                            </tr>
                               {%for key in load%}
                             <tr>
                               <td> &nbsp;&nbsp;&nbsp;&nbsp; {{key}}: </td>
                               <td> &nbsp;&nbsp; {{load[key]}} </td>
                             </tr>
                                {%endfor%}
                           
                           </table>
                
                </body>
    </div>
    <div class="column">
            <iframe src="https://giphy.com/embed/d3HeU0IDO2jLy"  style='margin-left: 20%; margin-bottom: 0.5em;' width="250" height="280" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/peaky-blinders-d3HeU0IDO2jLy"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;via GIPHY</a></p>
    </div>
</div>

<body>
        
            


<h4>&nbsp;&nbsp;Tomorrow's Load Curve </h4>

<iframe &nbsp;&nbsp; style="align:right;" src="http://127.0.0.1:8050/" width=1000 height=600></iframe>


</body>